<html><head>
    <title>ExerciseLooper</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="nUvnusYD+1qjb01guAZ9hA+VSy7MKipC1EiltIX5VJTGrpsti+mEKBVLguUqTHMy5gXJVsLmKZoec9c3y0I/pg==">


    <link rel="stylesheet" media="all" href="/ccs/app.css">
    <script src="/assets/application-212289bcba525f2374cdbd70755ea38f2cfdd35d479e9638fae0b2832fac5dac.js"></script>
</head>

<head>
    <title>ExerciseLooper</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="nUvnusYD+1qjb01guAZ9hA+VSy7MKipC1EiltIX5VJTGrpsti+mEKBVLguUqTHMy5gXJVsLmKZoec9c3y0I/pg==">


    <link rel="stylesheet" media="all" href="/assets/application-264507a893987846393b8514969b89293817c54265354e63e6ab61fb46193f89.css">
    <script src="/assets/application-212289bcba525f2374cdbd70755ea38f2cfdd35d479e9638fae0b2832fac5dac.js"></script>
</head><body>
<header class="dashboard">
    <section class="container">
        <p><img src="logo_balançoire.png"></p>
        <h1>Exercise<br>Looper</h1>
    </section>
</header>

<div class="container dashboard">
    <section class="row">
        <div class="column">
            <a class="button answering column" href="/exercises/answering">Take an exercise</a>
        </div>
        <div class="column">
            <a class="button managing column" href="/exercises/new">Create an exercise</a>
        </div>
        <div class="column">
            <a class="button results column" href="/exercises">Manage an exercise</a>
        </div>
    </section>
</div>



</body></html>untitled  C:\Users\Victorien.MONTAVON\PhpstormProjects\untitled
External Libraries
Scratches and Consoles
